@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: url(img/backsect1.png);
    background-repeat: no-repeat;
    background-size: 103%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.nav ul{
    display: flex;
    gap: 32px;
    position: relative;
    left: 60px;
    color: white;
}
.logo{
    position: relative;
    left: 30px;
}
.nav ul li:hover{
    transition: all 0.7s;
    color: #F57520;
}
.logos{
    display: flex;
    
}
.lines{
    position: relative;
    
}
.like{
    position: relative;
    left: 280px;
}
.cart{
    position: relative;
    left: 120px;
}
.electro{
    font-size: 54px;
    color: white;
    position: absolute;
    left: 60px;
    top: 150px;
}
.electrotxt{
    color: white;
    position: relative;
    width: 470px;
    left: 60px;
    top: 230px;
}
.more{
    border-radius: 14px;
    width: 130px;
    height: 50px;
    border: 0px solid;
    background-color: #F57520;
    color: white;
    font-size: 15px;
    position: relative;
    left: 60px;
    top: 280px;
}
.more:hover{
     box-shadow: 0 0 20px #F57520;
     transition: all 0.6s;
}
.sect1{
    background-color: darkgray;
    position:relative;
    top: 428px;
    background-repeat: no-repeat;
    height: 1800px;
}
.katalog{
    text-align: center;
    position: relative;
    top: 40px;
    background-repeat: no-repeat;
    font-size: 40px;
    font-weight: 900;
}
.bikes{
    border-radius: 30px;
    width: 900px;
    height: 250px;
    background-color: #F57520;
    position: relative;
    left: 230px;
    top: 120px;
}
.bikespic{
    width: 500px;
    height: 200px;
    position: relative;
    left: 330px;
    top: 10px;
}
.bikestxt{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 80px;
    top: 100px;
}
.trade{
    border-radius: 30px;
    width: 300px;
    height: 350px;
    background-color: #101010;
    position: relative;
    left: 230px;
    top: 130px;
    color: white;
}
.tradepic{
    width: 285px;
    height: 200px;
    position: relative;
    left: 5px;
    top: 102px;
}
.tradetxt{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 80px;
    top: 60px;
}
.balloon{
    border-radius: 30px;
    width: 300px;
    height: 160px;
    background-color: #101010;
    position: relative;
    left: 540px;
    bottom: 220px;
    color: white;
}
.balloonpic{
    width: 130px;
    height: 160px;
    position: relative;
    left: 168px;
    bottom: 41px;

}
.balloontxt{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 20px;
    top: 10px;
}
.setting{
    border-radius: 30px;
    width: 300px;
    height: 160px;
    background-color: #101010;
    position: relative;
    left: 540px;
    bottom: 190px;
    color: white;
}
.settingpic{
    width: 130px;
    height: 160px;
    position: relative;
    left: 170px;
    bottom: 41px;

}
.settingtxt{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 20px;
    top: 10px;
}
.headerbox{
    border-radius: 30px;
    width: 300px;
    height: 160px;
    background-color: #101010;
    position: relative;
    left: 850px;
    bottom: 540px;
    color: white;
}
.headerpic{
    width: 130px;
    height: 80px;
    position: relative;
    left: 160px;
    top: 36px;

}
.headertxt{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 20px;
    top: 10px;
}
.motorbox{
    border-radius: 30px;
    width: 300px;
    height: 160px;
    background-color: #101010;
    position: relative;
    left: 850px;
    bottom: 510px;
    color: white;
}
.motorpic{
    width: 140px;
    height: 160px;
    position: relative;
    left: 155px;
    bottom: 41px;

}
.motortxt{
    color: white;
    font-size: 23px;
    font-weight: 600;
    position: relative;
    left: 20px;
    top: 10px;
}
.trassa{
    text-align: center;
    font-size: 40px;
    position: relative;
    bottom: 400px;
    font-weight: 900;
}
.bike3box{
    width: 260px;
    height: 280px;
    border-radius: 10px;
    background-color: black;
    color: white;
    position: relative;
    left: 130px;
    transform: translateX(100px);
    bottom: 300px;
}
.bike3{
    width: 260px;
    border-radius: 10px 10px 0 0;

}
.date1{
    position: relative;
    top: 10px;
    left: 10px;
}
.cart1txt{
    font-size: 10px;
    position: relative;
    left: 11px;
    top: 30px;
    width: 200px;
}
.bike3box:hover{
    width: 260px;
    height: 280px;
    background-color: #F57520;
    color: black;
    transition: all 0.7s;
    box-shadow: 0 0 100px #F57520;
}
.bike4box{
    width: 260px;
    height: 280px;
    border-radius: 10px;
    background-color: black;
    color: white;
    position: relative;
    left: 600px;
    bottom: 580px;
}
.bike4{
    width: 260px;
    border-radius: 10px 10px 0 0 ;
}
.date2{
    position: relative;
    top: 10px;
    left: 10px;
}
.cart2txt{
    font-size: 10px;
    position: relative;
    left: 11px;
    top: 30px;
    width: 200px;
}
.bike4box:hover{
    width: 260px;
    height: 280px;
    background-color: #F57520;
    color: black;
    transition: all 0.7s;
    box-shadow: 0 0 100px #F57520;
}
.bike5box{
    width: 260px;
    height: 280px;
    border-radius: 10px;
    background-color: black;
    color: white;
    position: relative;
    left: 640px;
    bottom: 860px;
    transform: translateX(310px);
    
}
.bike5{
    width: 260px;
    border-radius: 10px 10px 0 0 ;
}
.date3{
    position: relative;
    top: 10px;
    left: 10px;
}
.cart3txt{
    font-size: 10px;
    position: relative;
    left: 11px;
    top: 30px;
    width: 200px;
}
.bike5box:hover{
    width: 260px;
    height: 280px;
    background-color: #F57520;
    color: black;
    transition: all 0.7s;
    box-shadow: 0 0 100px #F57520;
}
.bike6box{
    width: 260px;
    height: 280px;
    border-radius: 10px;
    background-color: black;
    color: white;
    position: relative;
    left: 220px;
    bottom: 750px;
}
.bike6{
    width: 260px;
    border-radius: 10px 10px 0 0 ;
}
.date4{
    position: relative;
    top: 10px;
    left: 10px;
}
.cart4txt{
    font-size: 10px;
    position: relative;
    left: 11px;
    top: 30px;
    width: 200px;
}
.bike6box:hover{
    width: 260px;
    height: 280px;
    background-color: #F57520;
    color: black;
    transition: all 0.7s;
    box-shadow: 0 0 100px #F57520;
}
.bike7box{
    width: 260px;
    height: 280px;
    border-radius: 10px;
    background-color: black;
    color: white;
    position: relative;
    left: 220px;
    bottom: 1030px;
    transform: translateX(380px);
}
.bike7{
    width: 260px;
    border-radius: 10px 10px 0 0 ;
}
.date5{
    position: relative;
    top: 10px;
    left: 10px;
}
.cart5txt{
    font-size: 10px;
    position: relative;
    left: 11px;
    top: 30px;
    width: 200px;
}
.bike7box:hover{
    width: 260px;
    height: 280px;
    background-color: #F57520;
    color: black;
    transition: all 0.7s;
    box-shadow: 0 0 100px #F57520;
}
.bike8box{
    width: 260px;
    height: 280px;
    border-radius: 10px;
    background-color: black;
    color: white;
    position: relative;
    left: 170px;
    bottom: 1310px;
    transform: translateX(780px);
}
.bike8{
    width: 260px;
    border-radius: 10px 10px 0 0 ;
}
.date6{
    position: relative;
    top: 10px;
    left: 10px;
}
.cart6txt{
    font-size: 10px;
    position: relative;
    left: 11px;
    top: 30px;
    width: 200px;
}
.bike8box:hover{
    width: 260px;
    height: 280px;
    background-color: #F57520;
    color: black;
    transition: all 0.7s;
    box-shadow: 0 0 100px #F57520;
}
.sect2{
    height: 1020px;
    background-color: #F57520;
}
.sect2pic{
    width: 699px;
    height: 470px;
    position: relative;
    top: 430px;
    left: 800px;
}
.contact{
    position: relative;
    color: white;
    width: 500px;
    font-size: 30px;
    left: 100px;
}
.name{
    width: 230px;
    height: 50px;
    border-radius: 10px;
    border: 0 solid;
    position: relative;
    top: 40px;
    left: 100px;
    padding: 20px;
}
.email{
    width: 230px;
    height: 50px;
    border-radius: 10px;
    border: 0 solid;
    position: relative;
    top: 40px;
    left: 110px;
    padding: 20px;
}
.tel{
    width: 230px;
    height: 50px;
    border-radius: 10px;
    border: 0 solid;
    position: relative;
    top: 110px;
    right: 367px;
    padding: 20px;
}
.company{
    width: 230px;
    height: 50px;
    border-radius: 10px;
    border: 0 solid;
    position: relative;
    top: 110px;
    right: 357px;
    padding: 20px;
}
.sms{
    width: 476px;
    height: 200px;
    border-radius: 10px;
    border: 0 solid;
    position: relative;
    top: 180px;
    right: 837px;
    padding: 0px  20px  140px;
}
.ask{
    width: 480px;
    height: 50px;
    border-radius: 10px;
    border: 0 solid;
    position: relative;
    top: 200px;
    left: 100px;
    padding: 10px;
    color: orange;
    font-weight: 700;
    background-color: white;
}
.ask:hover{
    box-shadow: 0 0 20px black;
    transition: all 1s;
}
iframe{
    width: 1499px;
    color: black;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    height: 200px;
    align-items: center;
    position: relative;
    bottom: 5px;
}
.logofot{
    position: relative;
    bottom: 40px;
    left: 20px;
}
.katalogfoot{
    position: relative;
    left: 200px;
    bottom: 40px;
    font-size: 18px;
}
.tradefoot{
    position: relative;
    left: 125px;
}
.clientfoot{
    position: relative;
    left: 500px;
    bottom: 40px;
}
.usfoot{
    position: relative;
    left: 391px;
}
.contactfoot{
    position: relative;
    left: 800px;
    bottom: 40px;
}
.phonenumfoot{
    position: relative;
    left:710px;
}
.phonefoot{
    position: relative;
    left: 710px;
}